*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(124, 7, 7);
    font-family: 'Quicksand', sans-serif;
}


.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;    
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.vid{
    padding: 15px;
    margin: 15;
}

body{
    padding: 0;
    margin: 0;
    background-color:rgb(41, 41, 41);
}
 
main{
    display: flex;
    justify-content: center;
    align-items: center;
}